.communication{
    margin-bottom: 200px;
    .communication--desined{
        width: 30%;
        margin: auto;
        h1{
            margin-top: 50px;
        }
        p{
            margin-top: 40px;
        }
        button{
            margin-top: 45px;
        }
    }
}
