#Service{
    margin-bottom: 155px;
}
.feesService--headding{
    text-align: center;
    width: 40%;
    margin: auto;
    margin-bottom: 88px;
    h1{
        margin-bottom: 37px;
    }
}

.feesService--btn {
    display: block;
    text-align: center;
    padding: 2px;
    border-radius: 34px;
    height: 100%;
    border: 1px solid rgb(170, 165, 165);
    margin: auto;
    width: 23%;
    button{
        width: 140px;
        margin: 0;
        color: black;
        background: none;
    }
    .active_btn{
        background: #2500f9;
        color: white;
    }
}

.feesService__groups--items{
    width: 313px;
    height: 577px;
    border: 1px solid gainsboro;
    margin: 25px;
    cursor: pointer;
    .item--btn{
        margin: 45px 0 25px 0;
        button{
            width: 212px;
            margin: 0;
        }
    }
    .item--headding{
       padding: 70px 54px 80px 45px;
       h1{
           font-size: 4rem;
           color: #242f51;
       }
       h5{
           color: #242f51;
       }
        i{
            font-size: 15px;
        }
    }
    .body--text{
        color: #999ca5;
    }
    .start--trail{
        display: none;
        color: #694ffb;
        font-weight: 700;
    }
}
.feesService__groups--items:hover{
    height: 660px;
    transition: height 1s;
    .start--trail{
        transition: 2s;
        display: block;
    }
}



/*
 service 2
 */
.service{
    .service--introduce{
        text-align: center;
        width: 51%;
        margin: auto;
        h1{
            font-size: 2rem;
            color: #242f51;
        }
    }
}
 .service-item {
    .card{
        text-align: center;
        padding-left: 13%;
        padding-right: 13%;
        .card-body{
            padding-left: 0;
            padding-right: 0;
        }
    } 
}