/*
     screen 320 < x  < 576
*/
/*
    screen 576 < x < 768
*/
/*
    screen 768 < x < 992
*/
/*
    screen 992 < 1200
*/
/*

screen > 1200
*/
.d-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  margin-top: 120px;
  height: 50%;
}

@media screen and (max-width: 320px) {
  .d-grid {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    margin-top: 50px;
  }
}

@media screen and (max-width: 450px) and (min-width: 350px) {
  .d-grid {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    margin-top: 50px;
  }
}

@media screen and (max-width: 768px) and (min-width: 576px) {
  .d-grid {
    margin-top: 50px;
  }
}

@media screen and (max-width: 992px) and (min-width: 768px) {
  .d-grid {
    margin-top: 0;
  }
}

.br-none {
  border: none;
  padding: 15% 5%;
}

@media screen and (max-width: 320px) {
  .br-none {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media screen and (max-width: 768px) and (min-width: 576px) {
  .br-none {
    padding: 0;
  }
}

.UlimateFeatures {
  position: relative;
  max-width: inherit;
}

@media screen and (max-width: 576px) and (min-width: 320px) {
  .UlimateFeatures {
    text-align: center;
  }
}

@media screen and (max-width: 768px) and (min-width: 576px) {
  .UlimateFeatures {
    margin-top: 50px;
    text-align: center;
  }
}

@media screen and (max-width: 320px) {
  .UlimateFeatures .ulimateFeatures--body {
    text-align: left;
  }
}

@media screen and (max-width: 1200px) and (min-width: 992px) {
  .UlimateFeatures .ulimateFeatures--body {
    font-size: 15px;
  }
}

@media screen and (max-width: 576px) and (min-width: 320px) {
  .UlimateFeatures .ulimatefeatures--headding {
    position: static;
  }
}

@media screen and (max-width: 768px) and (min-width: 576px) {
  .UlimateFeatures .ulimatefeatures--headding {
    position: static;
  }
}

@media screen and (max-width: 992px) and (min-width: 768px) {
  .UlimateFeatures .ulimatefeatures--headding {
    position: static;
  }
}

.UlimateFeatures .ulimatefeatures--headding h1 {
  font-size: 1.5rem;
  width: 41%;
  color: #242f51;
}

@media screen and (max-width: 576px) and (min-width: 320px) {
  .UlimateFeatures .ulimatefeatures--headding h1 {
    width: 100%;
    font-size: 3rem;
  }
}

@media screen and (max-width: 320px) {
  .UlimateFeatures .ulimatefeatures--headding h1 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 450px) and (min-width: 350px) {
  .UlimateFeatures .ulimatefeatures--headding h1 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 768px) and (min-width: 576px) {
  .UlimateFeatures .ulimatefeatures--headding h1 {
    width: auto;
  }
}

.UlimateFeatures .ulimatefeatures--title {
  padding-left: 2%;
  width: 75%;
}

@media screen and (max-width: 320px) {
  .UlimateFeatures .ulimatefeatures--title {
    width: 100%;
    font-size: 15px;
    text-align: left;
  }
}

@media screen and (max-width: 450px) and (min-width: 350px) {
  .UlimateFeatures .ulimatefeatures--title {
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 768px) and (min-width: 576px) {
  .UlimateFeatures .ulimatefeatures--title {
    width: 100%;
  }
}

.UlimateFeatures .card-body {
  padding-left: 0;
  padding-right: 0;
}

@media screen and (max-width: 992px) and (min-width: 768px) {
  .UlimateFeatures .card-body {
    font-size: 1rem;
  }
}

.UlimateFeatures .UlimateFeatures--images img {
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=ulmatefeatures.css.map */