@import './responsive';

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
}
body{
    margin: auto;
    font-size: 1.5rem;
    @include responsive_defaul{
        font-size: 14px ;
    }
    @include responsive_sm{
        font-size: 14px;
        max-width: 576px;
    }
    @include responsive_md{
        max-width: 768px;
    }
    @include responsive_lg{
        max-width: 992px;
    }
    @include responsive_max{
        max-width: 1300px;

    }
}
.translatex{
    transform: translateX(0) !important;
}
