@import '../../responsive';

.downloadPath{
    margin: 0 !important;
    display: grid;
    grid-template-columns: 55% 45%;

    @include responsive_sm{
        display: block;
    }
    @include responsive_md{
        grid-template-columns: 100%;
    }
    @include responsive_lg{
        padding: 15px auto;
    }
    .downloads-Apps{
        @include responsive_defaul{
            padding: 0 10px;
        }
        @include responsive_md{
            margin: 0 10px;
        }
    }
    .Apps-information{
        margin-left: auto;
        padding: 0;
        // .btn-downloads{
        //     @include responsive_defaul{
        //         display: block;
        //     }
        // }
        @include responsive_lg{
            margin: auto;
        }
    }
    h1.information-headding{
        font-size: 2.5rem !important;
        margin-top: 60px;
        margin-bottom: 34px;
        color: rgb(36, 47, 81);
        font-weight: 700;
        @include responsive_defaul{
            font-size: 1.5rem !important;
        }
        @include responsive_sm_sub{
            font-size: 2rem !important;
        }
        @include responsive_xl{
            font-size: 2rem !important;
        }
    }
    .information--text{
        width: 100%;
        margin-left: auto;
        margin-bottom: 32px;
        font-family: sans-serif;
        font-size: 15px;
        color: #616368;
    }
    .images-width{

        &:hover{
            outline: 4px solid rgba(0, 105, 217,0.5);
            -moz-outline-radius: 25px;
        }
    }
    .btn-downloads{
        @include responsive_sm{
            width: 100%;
        }
        @include responsive_md{
            width: auto;
        }
        @include responsive_lg{
            margin-bottom: 10px;
        }
    }

    .btn{
        border: 0;
        @include responsive_xl{
            display: flex;
            padding: 0;
        }
        @include responsive_md{
            padding-left: 0 !important;
            padding-right: 0 !important;
        }

    }
    .btn-apple{
        margin-left: 35px;
        @include responsive_defaul{
            margin-left:0;
        }
        @include responsive_sm{
            margin-left:0;
        }
        @include responsive_lg{
            margin-left: 0;
        }
    }
    .Path--images{
        img{
            width: 100%;
            @include responsive_lg{
                height: 100%;
                object-fit: cover;
            }
        }
        @include responsive_md{
            display: none;
        }
    }
}
