
@import '../../module';
@import '../../responsive';
.banner{
    @include responsive_sm{
        display: flex;
        margin-top: 50px;
    }

    @include responsive_md{
        display: flex;
        justify-content: space-between;
    }
    @include responsive_lg{
        margin-top: 50px;
    }
    margin-top: 85px;
    .row{

        @include responsive_sm{
            width: 100%;
        }
        @include responsive_xl{
            justify-content: center !important;
        }
    }
    .fa-bars{
        display: none;
        font-size: 35px;

        @include responsive_sm{
            display: block;
        }

        @include responsive_md{
            display: block;
        }
    }
    &__logo-text{
        padding: 0;

        @include responsive_sm {
            width: 100%;
        }
        @include responsive_lg{
            width: 100%;
        }
        h1{
            font-size: 36px;
            font-weight: 700;
            padding-left:213px ;
            margin: 0;
            color: rgb(252, 174, 97);

            @include responsive_sm{
                padding-left: 0;
                text-align: center;
            }
            @include responsive_lg{
                text-align: center;
                padding-left: 0;
            }
            @include responsive_xl{
                padding: 0;
            }
            b{
                color: rgb(36, 47, 81);
            }
            &:hover{
                cursor: pointer;
            }
        }
    }
    &__groups{


        @include responsive_sm{
            margin-top: 0;
            position: fixed;
            background-color: rgba(0, 0, 0, 0.5);
            width: 70%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 1111154545;
            color: white;
            transition: 2s  cubic-bezier(.11,.92,.79,.51);
            transform: translateX(-100%);
        }
        @include responsive_md{
            position: fixed;
            background-color: rgba(0, 0, 0, 0.5);
            width: 50%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 1111154545;
            color: white;
            transition: 2s  cubic-bezier(.11,.92,.79,.51);
            transform: translateX(-100%);
        }
        @include responsive_lg{
            width: 100%;
            display: flex;
            justify-content: center;
        }
        > i{
            display: none;
            @include responsive_sm{
                display: block;
                font-size: 35px;
                margin-left: 25px;
                text-align: right;
                color: white;

            }
        }
        nav{

            @include responsive_sm {
                display: block;

            }
            @include responsive_md{
                display: block;
            }
            @include responsive_lg{
                justify-content: center;
                flex-wrap: nowrap;
            }
            margin-left: 25px;
            li.nav-item {
                font-size: 18px;
                margin-right: 13px;
                @include responsive_sm{
                    padding:10px 0;
                }

                @include responsive_lg{
                    margin-right: 0;
                }

                &:hover{
                    @include responsive_sm{
                        background-color: rgba(0, 0, 0,0.6);
                    }
                }
                a{
                    color: rgba(68, 64, 64,0.9);
                    font-weight: 500;
                    font-size: 17px;
                    @include responsive_sm{
                        padding: 0;
                        color: white;
                    }
                    &:hover{
                        background-image:linear-gradient( #EADEDB 0%, red 50%, green 50%) ;
                        background-clip: text;
                        -webkit-background-clip: text;
                    }
                }

            }
        }
        .btn{padding: 0;}
        .btn > button{
           @extend %btn;
            @include responsive_defaul{
                width: 125px;
                height: 35px;
                margin: 0;
                font-size: 15px;
            }
            &:focus{
                outline: none;
            }
            &:hover{
                background-image:linear-gradient(140deg, #EADEDB 0%, #BC70A4 50%, #BFD641 75%)  ;
            }
        }
    }
}
