.Color_red{
    color: #f55767;
}
.Color_blue{
    color: #2563ff;
}
.Color_green{
    color: #40975f;
}
.width_body{
    width: 70%;
}
.Color-Fill__row{
    width: 80%;
    margin: auto;
}
.Color-Fill{
    margin-top: 110px;
    margin-bottom: 120px;
    .Color_red{
        color: #f55767;
    }
    .Color_blue{
        color: #2563ff;
    }
    .Color_green{
        color: #40975f;
    }
    .width_body{
        width: 70%;
    }
    .Color-Fill__row{
        width: 80%;
        margin: auto;
    }
}